<h1>Edit User <%= @user.username %></h1>

<%= form_with model: @user do |form| %>
  <%= form.label :username, "Username:" %>
  <%= form.text_field :username, placeholder: "please put your username" %>
  <%= form.label :email, "Email:" %>
  <%= form.email_field :email, placeholder: "example@example.com" %>
  <%= form.label :password, "Password:" %>
  <%= form.password_field :password, placeholder: "please put a password" %>
  <%= form.submit "Submit" %>
<% end %>
